// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn-outline-primary {
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;

    &:hover {
        background-color: var(--primary-color) !important;
        color: #fff !important;
    }
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    // border-color: transparent;
    // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #b44b81;
    border-color: var(--primary-color);
    box-shadow: none;
    outline: 0 none;
}

.rounded-bottom {
    border-bottom-left-radius: 0.375rem !important;
    border-bottom-right-radius: 0.375rem !important;
}

/**
 * Toastification
 */
.Vue-Toastification__container {
    .Vue-Toastification__toast--default,
    .Vue-Toastification__toast--success {
        background-color: #fff;
        color: var(--primary-color);
    }

    @media (min-width: 600px) {
        .top-left,
        .top-right {
            top: 2.6rem;
        }
    }
}


